html,
body {
	height: 95%;
	margin: 0;
	padding: 1%;
	width: 95%;
}

.active {
	box-shadow: inset 0 0 0 1px #27496d, inset 0 5px 30px #193047;
}

.annotation {
	background-color: white;
	border: 2px solid black;
	border-radius: 10px;
	opacity: 0.5;
	position: absolute;
}

.annotation:hover {
	opacity: 0.7;
}

.annotationText,
textarea {
	background: white;
	background: rgba(0, 0, 0, 0);
	border: none;
	color: black;
	display: block;
	font-family: Arial, Verdana, helvetica, sans-serif;
	font-size: 17px;
	font-weight: bold;
	height: 100%;
	resize: none;
	text-align: center;
	width: 100%;
}

.icon32 {
	height: 32px;
	width: 32px;
}

.imageContainer {
	float: right;
	height: 100%;
	position: relative;
	text-align: center;
	width: 75%;
	/* Rotation */
	
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
}

.sidebar {
	border: solid 1px black;
	float: left;
	height: 100%;
	width: 24%;
}

.viewerImage {
	max-height: 100%;
	max-width: 100%;
}
